.git
.gitignore
.DS_Store
README.md
.byebug_history
.env
.env.*
docker-compose.yml
public/assets/*
node_modules/*
dumps

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.DS_Store

/node_modules
/yarn-error.log

.sync-config.cson
.irbrc
/coverage
/local.log

/public/packs
/public/jobfeed_packs
/public/packs-test
/public/assets
/public/documents
/public/document_packs

/test/reports
/test/cypress/screenshots
/test/cypress/video

/vendor/bundle
/vendor/design_system/node_modules

/yarn-error.log
yarn-debug.log*
.yarn-integrity